<!DOCTYPE html>
<html lang="en-us" ng-app="website">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>BigCommerce Pattern Lab</title>

    <link rel="shortcut icon" href="https://cdn6.bigcommerce.com/r-d9855a91e0124a20a1d8b36949bceaafdb22a7f1/img/bc_favicon.ico" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,600italic">
    <link rel="stylesheet" href="css/bcapp-pattern-lab.css" />
    <link rel="stylesheet" href="css/website.css" />

</head>

<body>
    <nav class="navBar topNavBar">
    <div class="container">
        <ul class="navBar-section topNavBar-section">
            <li class="navBar-item topNavBar-item">
                <a href="/">
                    <picture class="navBar-picture">
                        <img class="navBar-logo-condensed" src="/svg/logo.svg" alt="BigCommerce Logo" />
                        <img class="navBar-logo" src="/svg/bclogo.svg" alt="BigCommerce Logo" />
                    </picture>
                </a>
            </li>
            <li class="navBar-item topNavBar-item">
                <div class="topNavBar-label">
                    Pattern Lab (v2.12.1)
                </div>
            </li>
        </ul>
        <ul class="navBar-section navBar-section--alt topNavBar-section--alt">
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="/style.html">Style</a>
                    </li>
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="/components.html">Components</a>
                    </li>
                    <li class="navBar-item topNavBar-item is-active">
                        <a class="navBar-action topNavBar-action" href="/patterns.html">Patterns</a>
                    </li>
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="/app-containers.html">Layouts</a>
                    </li>
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="/utils.html">Developer Utilities</a>
                    </li>
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="https://github.com/bigcommerce-labs/bcapp-pattern-lab/releases">Change Log</a>
                    </li>
        </ul>
    </div>
</nav>



    <div class="container">
        <aside class="aside" ng-controller="AsideNavCtrl">
            <nav class="asideNav">
                        <h2 class="asideNav-header">
                            <a class="asideNav-header-link" href="/patterns.html">
                                Patterns
                            </a>
                        </h2>
                            <ul class="asideNav-list">
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/action-bar.html')}">
                                        <a class="asideNav-link" href="/action-bar.html">Action Bar</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/color-picker.html')}">
                                        <a class="asideNav-link" href="/color-picker.html">Color Picker</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/copy-clipboard.html')}">
                                        <a class="asideNav-link" href="/copy-clipboard.html">Copy to Clipboard</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/credit-card.html')}">
                                        <a class="asideNav-link" href="/credit-card.html">Credit Card Payment</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/data-tables.html')}">
                                        <a class="asideNav-link" href="/data-tables.html">Data Tables</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/date-picker.html')}">
                                        <a class="asideNav-link" href="/date-picker.html">Date Picker</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/loading-states.html')}">
                                        <a class="asideNav-link" href="/loading-states.html">Loading States</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/prompt.html')}">
                                        <a class="asideNav-link" href="/prompt.html">Prompts</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/navigation.html')}">
                                        <a class="asideNav-link" href="/navigation.html">Navigation</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/alerts.html')}">
                                        <a class="asideNav-link" href="/alerts.html">Notifications and Alerts</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/warning-button.html')}">
                                        <a class="asideNav-link" href="/warning-button.html">Warning Button</a>
                                    </li>
                            </ul>
            </nav>
        </aside>

        <main class="mainContent" role="main" ng-view>
                <h1 class="mainContent-header">Notifications and Alerts</h1>

                     <p>
           A message that pops up on your screen to warn you that your computer is about to perform an operation with potentially damaging consequences. It is a safeguard for users, preventing us from doing things we wish we hadn't.
        </p>

        <hr>

        <section class="panel labPanel">
            <h3 class="labPanel-heading">Alerts</h3>
            <div class="labPanel-docs">
                <div class="labPanel-docsDemo">
                    <a href="/demo.html#/components/alerts" class="button--icon demo-button" target="_blank">
                        View Demo <icon glyph="ic-open-in-new"></icon>
                    </a>
                </div>
                <tabset buttons="true">
                    <tab>
                        <tab-heading>Design</tab-heading>
                        <div class="labPanel-content">
                            <img class="labPanel-docsTabs-figure" src="images/alerts_screen.png" width="400">
                        </div>

                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>A notification is a message that appears within the control panel. They primarily elevate time sensitive or important information to the user.</p>

                            <strong>Warning and Informational messages:</strong>
                            <ul>
                                <li>Messages are displayed under the page title (or tabs if tabs are) and will be providing messages concerning the page content (Can’t be inside a panel or a table - use other pattern for that)</li>
                                <li>Can include 2 types of actions: Primary Action, Dismiss (always on the left of the primary action)</li>
                            </ul>
                            <strong>Critical (Red background):</strong>
                            <ul>
                                <li>Requires an action to be taken by the user to be able to run business correctly (business critical - use best judgment)</li>
                                <li>Can’t be dismissed</li>
                            </ul>

                            <strong>Warning (Yellow background):</strong>
                            <ul>
                                <li>Used when we require people’s attention → need to take an action.</li>
                                <li>Messages can be as long as we want but we recommend to keep them short (around 200 characters max)</li>
                                <li>When dismiss, the message will not appear for the rest of the session.</li>
                            </ul>

                            <strong>Informational (Blue background):</strong>
                            <ul>
                                <li>Inform users about something that will impact their experience with the page they are on.</li>
                                <li>When dismissed, the message will never appear again</li>
                            </ul>
                        </div>
                    </tab>

                    <tab>
                        <tab-heading>Developer</tab-heading>
                        <div class="labPanel-content">
<textarea ui-codemirror="{
'lineNumbers': true,
'theme':'default',
'readOnly': 'true',
'lineWrapping' : false,
'mode': 'text/html',
'autoClearEmptyLines': true
}">
<alert
    ng-repeat="alert in alerts"
    type="alert.type"
    close="closeAlert($index)"
    links="alert.links"
>
    Alert Message
</alert></textarea>
                        </div>
                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>
                                1. <code>&lt;alert&gt;</code>
                                <ul class="u-listNoBullet">
                                    <li>Alerts can be used to inform users about the actions they perform. They can be displayed at a page level or inside a specific container.</li>
                                </ul>
                            </p>
                            <p>
                                2. <code>type="alert.type"</code>
                                <p>Please use the appropriate level alert for the message. Not everything is an error.</p>
                                <ul>
                                    <li><strong>type: 'success'</strong> - Green alert for success messages. It can have a link or dismiss button.</li>
                                    <li><strong>type: 'warning'</strong> - Yellow alert for warning messages. It can have a link or dismiss button.</li>
                                    <li><strong>type: 'info'</strong> - Blue alert for informative messages. It can have a link or dismiss button.</li>
                                    <li><strong>type: 'error'</strong> - Red alert for critical messages. Users need to take an action so message is not dismissable.</li>
                                </ul>
                            </p>
                            <p>
                                3. <code>links="alert.links"</code>
                                <p>Optional primary action link that can be provided. <code>alert.links</code> takes in the following arguments as an array:</p>

                                <ul>
                                    <li><strong>title: 'Primary Link Text'</strong></li>
                                    <li><strong>href: 'url'</strong></li>
                                    <li><strong>target: '_blank'</strong></li>
                                </ul>
                            </p>
                            <p>
                                4. <code>close="closeAlert($index)"</code>
                                <ul class="u-listNoBullet">
                                    <li>When included, this property adds a Dismiss button to the alert message. For critical messages, a dismiss button should not be included since the user needs to complete an action.</li>
                                </ul>
                            </p>
                            <!-- TODO: Verify with Cat what type of HTML is allowed in an alert
                            <p>
                                5. <code>.alertBox-heading</code>
                                <ul class="u-listNoBullet">
                                    <li>Alerts have the ability to take HTML into their body. Use <code>alertBox-heading</code> for your alert title.</li>
                                </ul>
                            </p>
                            -->
                        </div>
                    </tab>
                </tabset>
            </div>

        </section>

        <section class="panel labPanel">
            <h3 class="labPanel-heading">Banners</h3>
            <div class="labPanel-docs">
                <div class="labPanel-docsDemo">
                    <a href="/demo.html#/components/banners" class="button--icon demo-button" target="_blank">
                        View Demo <icon glyph="ic-open-in-new"></icon>
                    </a>
                </div>
                <tabset buttons="true">
                    <tab>
                        <tab-heading>Design</tab-heading>
                        <div class="labPanel-content demo">
                            <img class="labPanel-docsTabs-figure" src="images/banner_screen.png">
                        </div>
                    </tab>

                    <tab>
                        <tab-heading>Developer</tab-heading>
                        <div class="labPanel-content">
<textarea ui-codemirror="{
'lineNumbers': true,
'theme':'default',
'readOnly': 'true',
'lineWrapping' : false,
'mode': 'text/html',
'autoClearEmptyLines': true
}">
<div class="banner">
    <div class="banner-figure">
        <img src="https://placehold.it/250x120" alt="" width="250" height="120" />
    </div>
    <div class="banner-column banner-body">
        <h4 class="banner-title">Banner Title</h4>
        <p class="banner-description">Banner Description</p>
    </div>
    <div class="banner-column banner-actions">
        <a class="button button--marketing">Learn More</a>
        <p><a href="#" data-role="data-gsc-dismiss-XXX">Dismiss</a></p>
    </div>
</div></textarea>
                        </div>
                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>
                                1. <code>.banner</code>
                                <ul class="u-listNoBullet">
                                    <li>Default banners are similar to alerts, in that they are intended to notify the user of a contextually relevant piece of information or event. The Banner includes the media-table object as defined by the SASS Library. This is similar to the OOCSS media object, but displays like a table to allow vertical centering of its content.</li>
                                </ul>
                            </p>
                            <p>
                                2. <code>.banner-column</code>
                                <ul class="u-listNoBullet">
                                    <li>Banners can be divided into multiple sections which vertically align all of its content to the middle. The vertical alignment is a setting, and can be changed.</li>
                                </ul>
                            </p>
                            <p>
                                3. <code>.banner-figure</code>
                                <ul class="u-listNoBullet">
                                    <li>Optional promotional image with width=250 and height=120. It is hidden in mobile.</li>
                                </ul>
                            </p>
                            <p>
                                4. <code>.banner-body</code>
                                <ul class="u-listNoBullet">
                                    <li>Main content for the banner. Inner elements can include <code>.banner-title</code> and a description. The banner title has a max character count of 40; the banner description has a max character count of 110.</li>
                                </ul>
                            </p>
                            <p>
                                5. <code>.banner-actions</code>
                                <ul class="u-listNoBullet">
                                    <li>Call-to-actions for the banners lives in here. Can included call to action links and/or the dismiss button for the banner.</li>
                                    <li>To have the dismiss button be on a second line, add a paragraph tag to the dismiss button. If not, the two buttons will be on the same line.</li>
                                </ul>
                            </p>
                            <p>
                                5. <code>data-role=data-gsc-dismiss-XXX</code>
                                <ul class="u-listNoBullet">
                                    <li>Data-role for the dismiss button where XXX is a unique identifier for the banner.</li>
                                </ul>
                            </p>
                        </div>
                    </tab>
                </tabset>
            </div>
        </section>
        <section class="panel labPanel">
            <h3 class="labPanel-heading">Page Messaging</h3>
            <div class="labPanel-docs">
                <tabset buttons="true">
                    <tab>
                        <tab-heading>Design</tab-heading>
                        <div class="labPanel-content">
                            <img class="labPanel-docsTabs-figure" src="images/pageMessage_screen.png">
                        </div>

                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>
                                The Page Message relays status messaging to the user from the app's services. This could include negative messaging ("service not available" errors), or positive messaging ("You've completed all your orders today!") etc.
                            </p>
                            <p>
                                The pattern can also be accompanied by an icon or image to further describe the language of the messaging.
                            </p>
                        </div>
                    </tab>

                    <tab>
                        <tab-heading>Developer</tab-heading>
                        <div class="labPanel-content">
<textarea ui-codemirror="{
'lineNumbers': true,
'theme':'default',
'readOnly': 'true',
'lineWrapping' : false,
'mode': 'text/html',
'autoClearEmptyLines': true
}">
<div class="panel">
    <div class="labPanel-docs">
        <div class="pageMessage">
            <h2>Lorem Ipsum Dolor Sit Amet</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div></textarea>
                        </div>
                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>
                                The Page Message relays status messaging to the user from the app's services. This could include negative messaging ("service not available" errors), or positive messaging ("You've completed all your orders today!") etc.
                            </p>
                            <p>
                                The pattern can also be accompanied by an icon or image to further describe the language of the messaging.
                            </p>
                        </div>
                    </tab>
                </tabset>
            </div>
        </section>
        <section class="panel labPanel">
            <h3 class="labPanel-heading">Global Messaging</h3>
            <div class="labPanel-docs">
                <div class="labPanel-docsDemo">
                    <a href="/demo.html#/components/global-message" class="button--icon demo-button" target="_blank">
                        View Demo <icon glyph="ic-open-in-new"></icon>
                    </a>
                </div>
                <tabset buttons="true">
                    <tab>
                        <tab-heading>Design</tab-heading>
                        <div class="labPanel-content">
                            <img class="labPanel-docsTabs-figure" src="images/globalMessage_screen.png">
                        </div>
                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <ul class="u-listNoBullet">
                                <li>Success confirmation appears when user creates and completes a task successfully.</li>
                                <li>Message will disappear automatically after 8 seconds.</li>
                                <li>Message does not disappear on hover or focus. Timing starts again when the user hovers/focuses out.</li>
                                <li>Message should be short and fit on 1 line (max 60 characters)</li>
                                <li>0 to 2 actions (if there are 2 actions, one will always be DISMISS).</li>
                            </ul>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>Developer</tab-heading>
                        <div class="labPanel-content">
<textarea ui-codemirror="{
'lineNumbers': true,
'theme':'default',
'readOnly': 'true',
'lineWrapping' : false,
'mode': 'text/html',
'autoClearEmptyLines': true
}">
<global-message
    ng-if="shouldShow"
    action="{{action}}"
    action-callback="actionCallback()"
    dismiss-callback="dismissCallback()">
    {{message}}
</global-message>
</textarea>
                        </div>
                        <div class="labPanel-content">
                            <p>The markup for the global message should be inserted somewhere near the top. Default <code>[tabindex="1"]</code> so the user can focus on it quickly and thus when it is dismissed, the entire block of code either needs to be removed from the DOM or else tabindex needs to be changed to <code>[tabindex="-1"]</code>.</p>
                        </div>
                        <div class="labPanel-content">
                            <h4 class="labPanel-title">CSS Classes:</h4>
                            <div class="labPanel-classDefs">
                                <p>
                                    1. <code>.globalMessage</code>
                                    <ul class="u-listNoBullet">
                                        <li>Container class for the global message's outer <code>div</code> element.</li>
                                    </ul>
                                </p>
                                <p>
                                    2. <code>.globalMessage-column</code>
                                    <ul class="u-listNoBullet">
                                        <li>Divides global message content into sections.</li>
                                        <li>Vertically aligns content to middle.</li>
                                    </ul>
                                </p>
                                <p>
                                    3. <code>.globalMessage-body</code>
                                    <ul class="u-listNoBullet">
                                        <li>Added to <code>globalMessage-column</code> wrapper.</li>
                                        <li>Contains main body copy for global message (no longer than 60 characters).</li>
                                    </ul>
                                </p>
                                <p>
                                    3. <code>.globalMessage-actions</code>
                                    <ul class="u-listNoBullet">
                                        <li>Added to <code>globalMessage-column</code> wrapper.</li>
                                        <li>Contains any actions that the global message may require. Optional component.</li>
                                    </ul>
                                </p>
                                <p>
                                    4. <code>.globalMessage-link</code>
                                    <ul class="u-listNoBullet">
                                        <li>Button or link that is added inside the <code>globalMessage-actions</code> component.</li>
                                        <li>Max number of button/links that can be added is 2.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </section>


        </main>
    </div>
        <script src="js/vendor.js"></script>

    <!-- build:patternLabJS -->
    <script src="js/bcapp/bcapp-pattern-lab-all-deps.js"></script>
    <script src="js/bcapp/bcapp-pattern-lab-all-templates.js"></script>
    <script src="js/bcapp/bcapp-pattern-lab-components.js"></script>
    <!-- endbuild -->

    <!-- build:websiteJS -->
    <script src="js/website/website-templates.js"></script>
    <script src="js/website/website.js"></script>
    <!-- endbuild -->

     

</body>
</html>
