<!DOCTYPE html>
<html lang="en-us" ng-app="website">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>BigCommerce Pattern Lab</title>

    <link rel="shortcut icon" href="https://cdn6.bigcommerce.com/r-d9855a91e0124a20a1d8b36949bceaafdb22a7f1/img/bc_favicon.ico" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,600italic">
    <link rel="stylesheet" href="css/bcapp-pattern-lab.css" />
    <link rel="stylesheet" href="css/website.css" />

</head>

<body>
    <nav class="navBar topNavBar">
    <div class="container">
        <ul class="navBar-section topNavBar-section">
            <li class="navBar-item topNavBar-item">
                <a href="/">
                    <picture class="navBar-picture">
                        <img class="navBar-logo-condensed" src="/svg/logo.svg" alt="BigCommerce Logo" />
                        <img class="navBar-logo" src="/svg/bclogo.svg" alt="BigCommerce Logo" />
                    </picture>
                </a>
            </li>
            <li class="navBar-item topNavBar-item">
                <div class="topNavBar-label">
                    Pattern Lab (v2.12.1)
                </div>
            </li>
        </ul>
        <ul class="navBar-section navBar-section--alt topNavBar-section--alt">
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="/style.html">Style</a>
                    </li>
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="/components.html">Components</a>
                    </li>
                    <li class="navBar-item topNavBar-item is-active">
                        <a class="navBar-action topNavBar-action" href="/patterns.html">Patterns</a>
                    </li>
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="/app-containers.html">Layouts</a>
                    </li>
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="/utils.html">Developer Utilities</a>
                    </li>
                    <li class="navBar-item topNavBar-item ">
                        <a class="navBar-action topNavBar-action" href="https://github.com/bigcommerce-labs/bcapp-pattern-lab/releases">Change Log</a>
                    </li>
        </ul>
    </div>
</nav>



    <div class="container">
        <aside class="aside" ng-controller="AsideNavCtrl">
            <nav class="asideNav">
                        <h2 class="asideNav-header">
                            <a class="asideNav-header-link" href="/patterns.html">
                                Patterns
                            </a>
                        </h2>
                            <ul class="asideNav-list">
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/action-bar.html')}">
                                        <a class="asideNav-link" href="/action-bar.html">Action Bar</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/color-picker.html')}">
                                        <a class="asideNav-link" href="/color-picker.html">Color Picker</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/copy-clipboard.html')}">
                                        <a class="asideNav-link" href="/copy-clipboard.html">Copy to Clipboard</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/credit-card.html')}">
                                        <a class="asideNav-link" href="/credit-card.html">Credit Card Payment</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/data-tables.html')}">
                                        <a class="asideNav-link" href="/data-tables.html">Data Tables</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/date-picker.html')}">
                                        <a class="asideNav-link" href="/date-picker.html">Date Picker</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/loading-states.html')}">
                                        <a class="asideNav-link" href="/loading-states.html">Loading States</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/prompt.html')}">
                                        <a class="asideNav-link" href="/prompt.html">Prompts</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/navigation.html')}">
                                        <a class="asideNav-link" href="/navigation.html">Navigation</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/alerts.html')}">
                                        <a class="asideNav-link" href="/alerts.html">Notifications and Alerts</a>
                                    </li>
                                    <li class="asideNav-listItem" ng-class="{'is-active': isActive('/warning-button.html')}">
                                        <a class="asideNav-link" href="/warning-button.html">Warning Button</a>
                                    </li>
                            </ul>
            </nav>
        </aside>

        <main class="mainContent" role="main" ng-view>
                <h1 class="mainContent-header">Data Tables</h1>

                     <p>
            A data table is composed of at least two column headers row and at least one data row (and occasionally a column footer). It is used to organize large volumes of data.
        </p>
        <section class="panel labPanel">
            <h4 class="labPanel-title">Subcomponents</h4>
            <ul class="u-listNoBullet labRelated-list">
                <li><a href="/tables.html">Tables</a></li>
                <li><a href="/pagination.html">Pagination</a></li>
                <li><a href="/action-bar.html">Action Bar</a></li>
            </ul>
        </section>

        <hr>

        <section class="panel labPanel">

            <div class="labPanel-docs">
                <div class="labPanel-docsDemo">
                    <a href="/demo.html#/components/bc-server-table#standard" class="button--icon demo-button" target="_blank">
                        View Demo <icon glyph="ic-open-in-new"></icon>
                    </a>
                </div>
                <tabset buttons="true">
                    <tab>
                        <tab-heading>Design</tab-heading>
                        <div class="labPanel-content">
                            <img class="labPanel-docsTabs-figure" src="images/dataTable_screen.png">
                        </div>

                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>
                                The Data table uses a combination of the table component, pagination, and a filter to organise data and enable filtration and navigation of large datasets. It should be used in interactive tables with possibly large amounts of rows; like Orders or Products.
                            </p>
                        </div>
                    </tab>

                    <tab>
                        <tab-heading>Developer</tab-heading>
                        <div class="labPanel-content">
<textarea ui-codemirror="{
'lineNumbers': true,
'theme':'default',
'readOnly': 'true',
'lineWrapping' : false,
'mode': 'text/html',
'autoClearEmptyLines': true
}">
<form method="post" class="form" ng-submit="bcServerTableDemoCtrl.bcServerTable.updateTable()">
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="form-label" for="time">Filter:</label>
            <div class="form-prefixPostfix">
                <input class="form-input" id="time" type="text" placeholder="Keywords" ng-model="bcServerTableDemoCtrl.bcServerTable.filters.time">
                <button class="button button--primary form-prefixPostfix-button--postfix" id="updateFilter" type="submit">Update</button>
                <button class="button form-prefixPostfix-button--postfix" type="reset" ng-click="bcServerTableDemoCtrl.clearTable($event)">Reset table</button>
            </div>
        </div>
    </fieldset>
</form>
<table class="table">
    <thead class="table-thead">
        <th><input type="checkbox"/></th>
        <th>Name</th>
        <th>Star</th>
        <th>Location</th>
    </thead>
    <tbody class="table-tbody">
        <tr id="row-" class="tableRow">
            <td><input type="checkbox"/></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<bc-pagination class="pagination" id="pagination"
               on-change="bcServerTableDemoCtrl.bcServerTable.updatePage(page, limit)"
               total-items="bcServerTableDemoCtrl.bcServerTable.pagination.total"
               page="bcServerTableDemoCtrl.bcServerTable.pagination.page"
               items-per-page="bcServerTableDemoCtrl.bcServerTable.pagination.limit"
               max-size="5">
</bc-pagination></textarea>
                        </div>
                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>
                                The Data table uses a combination of the table component, pagination, and a filter to organise data and enable filtration and navigation of large datasets. It should be used in interactive tables with possibly large amounts of rows; like Orders or Products.
                            </p>
                        </div>
                    </tab>
                </tabset>
            </div>

        </section>

        <section class="panel labPanel">
            <h3>Empty Treatment</h3>
            <div class="labPanel-docs">
                <div class="labPanel-docsDemo">
                    <a href="/demo.html#/components/bc-server-table#emptyTreatment" class="button--icon demo-button" target="_blank">
                        View Demo <icon glyph="ic-open-in-new"></icon>
                    </a>
                </div>
                <tabset buttons="true">
                    <tab>
                        <tab-heading>Design</tab-heading>
                        <div class="labPanel-content">
                            <img class="labPanel-docsTabs-figure" src="images/empty_dataTable_screen.png">
                        </div>

                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>
                               When there isn’t any content to display in a table, an empty treatment should be used to provide users with contextual information.
                               An Illustration is optional, and should be sized at a maximum height of 40px, or maximum width of 200px. The empty treatment may also have a
                               maximum of one link or button. This should help the user to populate the data table, either through education (via a knowledgebase article),
                               or direct action (Create a Product).
                            </p>
                        </div>
                    </tab>

                    <tab>
                        <tab-heading>Developer</tab-heading>
                        <div class="labPanel-content">
<textarea ui-codemirror="{
'lineNumbers': true,
'theme':'default',
'readOnly': 'true',
'lineWrapping' : false,
'mode': 'text/html',
'autoClearEmptyLines': true
}">
<table class="table">
    <tbody class="table-tbody">
        <tr class="tableRow">
            <td class="tableCol emptyTable">
                <img class="emptyTable-image" src="images/empty_table_illustration.png">
                <strong class="emptyTable-title">No Store Performance available yet.</strong>
                <p class="emptyTable-description">Once you begin to receive visitors and orders, information about your store performance will be displayed in this section.</p>
                <a href="http://cp-pattern-lab.bigcommerce.net" target="_blank" class="emptyTable-action">Learn More</a>
            </td>
        </tr>
    </tbody>
</table></textarea>
                        </div>
                        <div class="labPanel-content">
                            <h4 class="labPanel-title">Usage:</h4>
                            <p>
                               As an empty table has no content, the table doesn't require a <code>thead</code>. There is only one <code>tr</code> which contains one <code>td</code>,
                                which is the <code>.emptyTable</code> component.
                            </p>
                        </div>
                        <div class="labPanel-content">
                            <h4 class="labPanel-title">CSS Classes:</h4>
                            <div class="labPanel-classDefs">
                                <p>
                                    1. <code>.emptyTable</code>
                                    <ul class="u-listNoBullet">
                                        <li>The component's container class. Should be applied to the only <code>td</code> in the table.</li>
                                    </ul>
                                </p>
                                <p>
                                    2. <code>.emptyTable-image</code>
                                    <ul class="u-listNoBullet">
                                        <li>Applied to an optional illustration that may be used to enhance the message.</li>
                                        <li>Maximum image width is 200px; Maximum image height is 40px.</li>
                                    </ul>
                                </p>
                                <p>
                                    3. <code>.emptyTable-title</code> and <code>.emptyTable-description</code>
                                    <ul class="u-listNoBullet">
                                        <li>The default classes for the title and description of the message, respectively. Styled to default text styles.</li>
                                        <li><code>.emptyTable-title</code> is expected to be a <code>strong</code>, <code>.emptyTable-description</code> is expected to be a <code>p</code>.</li>
                                    </ul>
                                </p>
                                <p>
                                    4. <code>.emptyTable-action</code>
                                    <ul class="u-listNoBullet">
                                        <li>The only action allowed for this message. Should aid user in populating table.</li>
                                        <li>Expected to be applied to <code>a</code>.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

        </section>

        </main>
    </div>
        <script src="js/vendor.js"></script>

    <!-- build:patternLabJS -->
    <script src="js/bcapp/bcapp-pattern-lab-all-deps.js"></script>
    <script src="js/bcapp/bcapp-pattern-lab-all-templates.js"></script>
    <script src="js/bcapp/bcapp-pattern-lab-components.js"></script>
    <!-- endbuild -->

    <!-- build:websiteJS -->
    <script src="js/website/website-templates.js"></script>
    <script src="js/website/website.js"></script>
    <!-- endbuild -->

     

</body>
</html>
